<p>
	<div class = "sftpConectionWrapper" >
		
		host: 159.65.193.138
		pass: gi/G8UwALk
		user: dare@mvbaks.com

		<input type = "text" name = "host" id = "host" placeholder = "Host you want to connect to" ><br>
		<input type = "text" name = "username" id = "username" placeholder = "Username" ><br>
		<input type = "password" name = "password" id = "password" placeholder = "Password" ><br>
		<input type = "text" name = "filename" id = "filename" placeholder = "Name of the file to check" ><br>
		<p>
			<input type = "submit" name = "submit" value = "Connent and check" >
		</p>
	</div>
</p>